@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root{
   --iriscolor:#4D5AE5; 
   --navyblue: #2E2F42;
   --navcolor: black;
   --oceancolor: #2196F3;
   --whitecolor: #FFF;
   --slatecolor: #434455;
   --cloudcolor: #F4F4FD;
   
}

.link-logo{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    line-height: 1.5px;
}

.link-logo2{
    font-family: Raleway;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
}

.web-logo{
    color: var(--iriscolor);
}

.studio-logo{
    color: var(--navyblue);
}
.studio-logo2 {
    color: var(--cloudcolor);
}

.navbar .pages{
    color: var(--navcolor);
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.lists{
    list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
    color:var(--oceancolor);
}

body {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}
   
.contact-info .info{
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none
    }

.bg-section1 {
    background-color: var(--navyblue);
    width: 1440px;
    flex-shrink: 0;
}

.h1-title {
    color: var(--white, #FFF);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.btn{
    cursor: pointer;
    border-color: transparent;
}

.btn.primary{
    display: inline-flex;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--whitecolor);
    font-weight: 500;
    letter-spacing: 0.64px;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: var(--iriscolor);
}

.titlelist{
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: var(--slatecolor);
}

.sectiontitle {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 900;
    line-height: 1.5;
}

.bg-section3 {
    background-color: var(--cloudcolor)
}

.teamname {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
   }

.position {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.05em;
}

.footerbg {
    background-color: var(--navyblue)
}

.lastword {
    color: var(--cloudcolor);
    width: 265px;
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    top: 3300px;
}

.btn.port{
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    display: flex;
    padding: 12px 24px;
    color: var(--iris, #4D5AE5);
    font-weight:500;
    line-height: 24px;
    letter-spacing: 0.64px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.btn.port.currentoption{
    background: var(--ocean, #404BBF);
    color: var(--white, #FFF);
}