@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root{
   --iriscolor:#4D5AE5; 
   --navyblue: #2E2F42;
   --navcolor: black;
   --oceancolor: #2196F3;
   --whitecolor: white;
   --slatecolor: #434455;
   --cloudcolor: #F4F4FD;
   --ashcolor:#8F8F8E;
}

.link-logo{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    line-height: 1.5px;
}

.link-logo2{
    font-family: Raleway;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
}

.web-logo{
    color: var(--iriscolor);
}

.studio-logo{
    color: var(--navyblue);
}
.studio-logo2 {
    color: var(--cloudcolor);
}

.navbar .pages{
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
}

.lists{
    list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
    color:var(--oceancolor);
}

.contact-info .info{
    color:var(--navcolor);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-decoration: none
    }

.bg-section1 {
    background-color: var(--navyblue);
}

.h1-title {
    color: var(--whitecolor);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;
}

.btn{
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inherit;
}

.btn.primary{
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: hotpink;
}

.desclist.titlelist{
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: var(--slatecolor);
}

.sectiontitle {
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 900;
    line-height: 1.5;
}

.bg-section3 {
    background-color: var(--ashcolor)
}

.teamname {
    color: var(--navyblue, #2E2F42);
    font-weight: 900;
}

.position {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.05em;
}

.footerbg {
    background-color: var(--navyblue)
}

.lastword {
    color: var(--cloudcolor);
    width: 265px;
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    top: 3300px;
}

.btn.port{
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    width: 116px;
    height: 48px;
    color: var(--iris, #4D5AE5);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.btn.port.currentoption{
    background: var(--ocean, #404BBF);
    color: var(--white, #FFF);
}